---
import { ForgotPasswordPage } from "@/components/auth/forgot-password-page";
import "@/styles/globals.css";
---

<html lang="pt-BR">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <title>Recuperar Senha - Gerenciador Projetos</title>
    </head>
    <body>
        <ForgotPasswordPage client:load />
    </body>
</html>
