---
import { SignInPage } from "@/components/auth/wrappers";
import "@/styles/globals.css";
---

<html lang="pt-BR">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Login - Gerenciador Projetos</title>
	</head>
	<body>
		<SignInPage client:load />
	</body>
</html>
