---
import { ResetPasswordPage } from "@/components/auth/reset-password-page";
import "@/styles/globals.css";

const token = Astro.url.searchParams.get("token") || undefined;
---

<html lang="pt-BR">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <title>Redefinir Senha - Gerenciador Projetos</title>
    </head>
    <body>
        <ResetPasswordPage client:load initialToken={token} />
    </body>
</html>
